name: App CI pipeline
on:
  push:
    branches:
      - master
  workflow_dispatch:

input:

jobs:
  build:
    # You need to use the INSTALLATION_NAME from the previous step
    runs-on: github-arc-runner-set
    steps:
    - name: Checkout sourcecode
      uses: actions/checkout@v4
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
    - name: Build and push Docker image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: my-app-repo # Replace with your ECR repository name
        IMAGE_TAG: ${{ github.sha }} # Use Git SHA as image tag
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
    #- run: docker buildx create --name remote --driver remote tcp://buildkitd.buildkitd:1234
    #- run: docker buildx build --builder=remote -t hello:latest .
    #- run: docker buildx build --builder=remote -t test --load .
