name: App CI pipeline
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    # You need to use the INSTALLATION_NAME from the previous step
    runs-on: github-arc-runner-set
    env:
      ECR_REPOSITORY: "my-app-repo"
      IMAGE_TAG: ${{ github.sha }} # Use Git SHA as image tag
    steps:
    - name: Checkout sourcecode
      uses: actions/checkout@v4
    - name: Build
      run: docker build -t ${{ env.ECR_REPOSITORY}}:${{ env.IMAGE_TAG }} .
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
    - name: Build and push Docker image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        docker tag ${{ env.ECR_REPOSITORY}}:${{ env.IMAGE_TAG }} $ECR_REGISTRY/${{ env.ECR_REPOSITORY}}:${{ env.IMAGE_TAG }}
        docker push $ECR_REGISTRY/${{ env.ECR_REPOSITORY}}:${{ env.IMAGE_TAG }}
    #docker build -t $ECR_REGISTRY/${{ env.ECR_REPOSITORY}}:${{ env.IMAGE_TAG }} .
    #- run: docker buildx create --name remote --driver remote tcp://buildkitd.buildkitd:1234
    #- run: docker buildx build --builder=remote -t hello:latest .
    #- run: docker buildx build --builder=remote -t test --load .
